body {
  background-image: url("362590076_3566627870280761_8307804950751158226_n.jpg");
  height: 99vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.9);
}

p {
  padding: 5px;
  width: 45%;
}
.background {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  gap: 10px;
}
:focus {
  outline: 2px solid darkblue;
}
.navbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: lightblue;
  justify-content: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.navbar a {
  width: 15vw;
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}
.profil {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  width: 100px;
}

li {
  margin: 5px;
}
.om-mig {
  justify-content: center;
}

/* Jag har använt px på horisontelt på item1 och item2 för att den ska bara täcka bokstäver och inte bli för stor. */
.item1 {
  width: 185px;
}
.item2 {
  width: 160px;
}
.item3 p {
  margin: -8px;
  width: auto;
}

.fritid-lista {
  margin-left: 10px;
}
h1 {
  width: 245px;
}
.container {
  display: grid;
  grid-template-columns: 10% 10% 20%;
  gap: 5%;
}
ul {
  margin-left: -20px;
}
li {
  margin-left: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }
  .navbar ul {
    justify-content: left;
    column-gap: 24px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: 40% 40%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 40% 40%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: 15% 15% 20%;
  }
}
@media screen and (max-width: 400px) {
  .profil {
    width: 65px;
  }
}
