body {
  /* Jag har gjort en bakgrundsbild som är fixerad och statisk så att den ser hyffsad ut i alla upplösningar. Texten är vit och lite genomskinlig för att vara läslig på alla ställen och smälta in bättre mot bakgrunden. */
  background-image: url("362590076_3566627870280761_8307804950751158226_n.jpg");
  height: 90vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.9);
}

p {
  padding: 5px;
  width: 45%;
}
/* Jag har gjort en bakgrund till mina olika div och för att göra texten lättare att läsa. */
.background {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  gap: 10px;
}
:focus {
  outline: 2px solid darkblue;
}
/* Min navbar har en bakgrund som är hela skärmen bredd. Den ska alltid vara längst upp på sidan. Listan är gjord som flexbox för att ligga bredvid varandra och det är centrerad på större storlekar och till vänster på mindre upplösningar. Anchor element är stylade. */
.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: lightblue;
}
.navbar ul {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.navbar a {
  width: 10vw;
  background-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}
/* Profil är en profilbild på mig som är fixerad på sidan längst upp till höger. Den döljs på sidan vid lägsta upplösningen */
.profil {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  width: 100px;
}
/* Margin-top för att den ska hamna nedanför min fixerade navbar. */
.om-mig {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  margin-top: 75px;
}

/* Jag har använt px på horisontelt på item1 och item2 för att den ska bara täcka bokstäver och inte bli för stor. */
.item1 {
  width: 185px;
}
.item2 {
  width: 160px;
}
.item3 {
  margin-top: 15px;
}
/* margin -8px för att det ska bli lite mer kompakt i grid-item */
.item3 p {
  margin: -8px;
  width: auto;
}

.container {
  display: grid;
  justify-items: center;
}
/* Margin-left för att listan ska komma lite längre in från kanten. */
ul {
  margin-left: -20px;
  justify-content: left;
  column-gap: 24px;
}
li {
  margin-left: 15px;
}
/* Margin-top för att den ska hamna nedanför min fixerade navbar. Den är genomskinlig för att man ska kunna se bakgrundsbilden utan det ska bli svårt att läsa*/
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  margin-top: 75px;
}
form p {
  font-weight: bold;
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}
.radio-label {
  display: inline-block;
}
input[type="radio"] {
  width: 16px;
  height: 16px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }

  .item3 {
    margin-top: 0px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: auto auto;
  }
  .item2 {
    margin-right: 100%;
  }
  .item3 {
    margin-left: 45%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: auto auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container {
    grid-template-columns: auto auto auto;
  }
  .item2 {
    margin-right: 0%;
  }
  .item3 {
    margin-left: 0%;
  }
}
@media screen and (max-width: 540px) {
  .profil {
    width: 65px;
  }
  .navbar a {
    width: 20vw;
  }
}
@media screen and (max-width: 338px) {
  .profil {
    display: none;
  }
}
